.mg-l-10 {
  margin-left: 10px !important;
}
.mg-r-10 {
  margin-right: 10px !important;
}
.mg-t-10 {
  margin-top: 10px !important;
}
.mg-b-10 {
  margin-bottom: 10px !important;
}

.full-h {
  height: 100%;
}
.full-w {
  width: 100%;
}

.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-h {
  display: flex;
}