.mg-l-10 {
  margin-left: 10px !important;
}
.mg-r-10 {
  margin-right: 10px !important;
}
.mg-t-10 {
  margin-top: 10px !important;
}
.mg-b-10 {
  margin-bottom: 10px !important;
}

.pd-l-10 {
  padding-left: 10px !important;
}
.pd-r-10 {
  padding-right: 10px !important;
}
.pd-t-10 {
  padding-top: 10px !important;
}
.pd-b-10 {
  padding-bottom: 10px !important;
}

.full-h {
  height: 100%;
}
.full-w {
  width: 100%;
}

.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-h {
  display: flex;
}
.flex-h-sb {
  display: flex;
  justify-content: space-between;
}

.fw-b {
  font-weight: bold;
}


.none {
  display: none !important;
}

.bg-none {
  background-color: transparent;
}

// 颜色
.color-info {
  color: #bfbfbf;
}