$border-base: 1px solid rgb(240, 242, 245);
$bg-color-deep: rgb(240, 242, 245);
$transition-height: height 200ms;

.workbench {
  padding: 20px;
  height: 100vh;
  display: flex;
  overflow: hidden;

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &-operation {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    overflow: hidden;
    // transition: $transition-height;

    // &-left {}

    &-right {
      margin-left: 10px;
      overflow: hidden;

      .sheets {
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  &-preview {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
    overflow: auto;

    &-main-table-container {
      position: relative;

      .additional-toolbar {
        padding: 10px 0;
        position: absolute;
        right: 0;
        z-index: 10;
      }

      // 可 resize
      // .ant-table-body {
      //   max-height: unset !important;
      //   height: 150px;
      //   resize: vertical;
      // }
    }

    &-tabs {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      z-index: 0;
    }
  }

  &-analysis {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 300px;
    background-color: #fff;

    // 按钮区
    &-btns {
      padding: 10px;
      border-bottom: $border-base;

      >*:not(:last-child) {
        margin-right: 10px;
      }
    }

    // 行计算区
    &-rows {
      counter-reset: count 0;

      .row {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: $border-base;
        
        >*:not(:last-child) {
          margin-right: 10px;
        }

        .ant-form-item-control > .ant-form-item-explain {
          display: none;
        }

        &::before {
          flex-shrink: 0;
          width: 1.5em;
          margin-right: 10px;
          display: inline-block;
          content: counter(count)".";
          counter-increment: count 1;
          color: rgb(24, 144, 255);
          font-weight: bold;
          text-align: right;
        }
      }
    }

    // 结果输出区
    &-result {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 200px;
      padding: 10px;

      // margin: 5px;
      // padding: 10px 5px;
      // border: 1px dashed skyblue;
      // border-radius: 5px;

      // display: flex;
      // flex-wrap: wrap;
      // align-content: flex-start;
      
      // display: grid;
      // grid-template-columns: repeat(auto-fill, 240px);
      // grid-template-rows: repeat(auto-fill, 24px);
      // gap: 10px;
      // justify-content: center;

      // &-field {
      //   display: flex;
      // }
    }

    .section-title {
      padding: 10px;
      border-bottom: $border-base;
    }
  }

  .ant-upload-list {
    width: 240px;
  }

  &-result {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    &-tables {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;

      .toolbar {
        background-color: $bg-color-deep;
        padding-bottom: 10px;

      }

      .result-cross-table {
        flex: 1;
        overflow: hidden;
    
        .ant-spin-nested-loading {
          height: 100%;
        }
        .ant-spin-container {
          height: 100%;
          display: flex;
          flex-direction: column;
    
          .ant-table {
            flex: 1;
            overflow: auto;
            border-bottom: $border-base;
          }
        }
      }
    }

    &-toolbar {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      background-color: $bg-color-deep;
    }

    &-config {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      &-item {
        width: 120px;
        margin-left: 10px !important;
        margin-bottom: 10px !important;
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      // margin-right: 50px;
      padding-right: 210px;
      flex-shrink: 0;
      flex-grow: 1;

      >*:not(:last-child) {
        margin-right: 10px;
      }
    }

    .ant-tabs-content-holder {
      overflow: auto;
    }

    &-upload {
      position: relative;

      .ant-upload-list {
        display: none;
        padding-bottom: 10px;
        position: absolute;
        left: 0;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 5px #aaa;
        z-index: 9;
      }

      &:hover .ant-upload-list {
        display: block;
      }

      &.is-empty .ant-upload-list {
        display: none !important;
      }
    }

    &-uploads-box {
      width: 300px;

      .upload {
        display: flex;
        align-items: center;

        .ant-upload-list {
          margin-left: 10px;
          overflow: hidden;

          .ant-upload-list-item {
            margin: 0;
          }
        }
      }

      >*:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  // 覆盖 antd 样式
  .ant-badge-multiple-words {
    padding: 0 3px;
  }

  .ant-table-pagination.ant-pagination {
    padding-right: 10px;
  }
}

.workbench-analysis-formula-tooltip {
  max-width: unset !important;
  // right: 40px;
}

.flex-fill {
  flex: 1;
}

.toolbar {
  flex-shrink: 0;

  >*:not(:last-child) {
    margin-right: 10px;
  }
}

.field-width {
  width: 160px !important;
}

.field-width-short {
  width: 100px !important;
}

.field-width-long {
  width: 200px !important;
}

