$border-base: 1px solid rgb(240, 242, 245);

.workbench {
  padding: 20px;
  height: 100vh;
  display: flex;
  overflow: hidden;

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &-operation {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    height: 60px;

    // &-left {}

    &-right {
      margin-left: 10px;
      overflow: hidden;

      .sheets {
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  &-preview {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
    overflow: auto;
  }

  &-analysis {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 300px;
    background-color: #fff;

    // 按钮区
    &-btns {
      padding: 10px;
      border-bottom: $border-base;

      >*:not(:last-child) {
        margin-right: 10px;
      }
    }

    // 行计算区
    &-rows {
      counter-reset: count 0;

      .row {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: $border-base;
        
        >*:not(:last-child) {
          margin-right: 10px;
        }

        .ant-form-item-control > .ant-form-item-explain {
          display: none;
        }

        &::before {
          flex-shrink: 0;
          width: 1.5em;
          margin-right: 10px;
          display: inline-block;
          content: counter(count)".";
          counter-increment: count 1;
          color: rgb(24, 144, 255);
          font-weight: bold;
          text-align: right;
        }
      }
    }

    // 结果输出区
    &-result {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 200px;
      padding: 10px;

      // margin: 5px;
      // padding: 10px 5px;
      // border: 1px dashed skyblue;
      // border-radius: 5px;

      // display: flex;
      // flex-wrap: wrap;
      // align-content: flex-start;
      
      // display: grid;
      // grid-template-columns: repeat(auto-fill, 240px);
      // grid-template-rows: repeat(auto-fill, 24px);
      // gap: 10px;
      // justify-content: center;

      // &-field {
      //   display: flex;
      // }
    }

    .section-title {
      padding: 10px;
      border-bottom: $border-base;
    }
  }

  .ant-upload-list {
    width: 240px;
  }

  &-result {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    &-tables {
      flex: 1;
      overflow: auto;
    }

    &-toolbar {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      background-color: rgb(240, 242, 245);
    }

    &-config {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      &-item {
        width: 120px;
        margin-left: 10px !important;
        margin-bottom: 10px !important;
      }
    }

    &-btns {
      margin-right: 50px;
      flex-shrink: 0;

      >*:not(:last-child) {
        margin-right: 10px;
      }
    }

    .ant-tabs-content-holder {
      overflow: auto;
    }
  }
}

.workbench-analysis-formula-tooltip {
  max-width: unset !important;
  // right: 40px;
}

.flex-fill {
  flex: 1;
}