.charts-container {
  margin: 20px 0;
  height: 350px;
  width: 100%;
  text-align: center;
}

.modal-charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
  width: 100%;
  overflow: auto;

  &::after {
    display: block;
    width: 700px;
    content: "";
  }
}

.chart {
  width: 50%;
}