.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;
}

.required {
  position: relative;
  &::before {
    position: absolute;
    left: -0.75em;
    display: block;
    content: "*";
    color: red;
  }
}